---
- name: Create ZFS Dataset on Server
  community.general.zfs:
    name: "{{ item.value.dataset_name }}"
    state: present
    extra_zfs_properties:
      atime: "off"
      acltype: posix
      canmount: "on"
      compression: "lz4"
      exec: "on"
      logbias: "latency"
      mountpoint: "{{ item.value.mountpoint }}"
      quota: "{{ item.value.quota | default('10G') }}"
      recordsize: "1M"
      setuid: "on"
      xattr: "sa"
  loop: "{{ okd_nfs_exports_desired_exports | dict2items }}"

- name: Create Desired Exports on Server
  ansible.builtin.template:
    src: okd-export.exports
    dest: "{{ ['/etc/exports.d/', item.value.filename] | path_join }}"
    mode: "0o644"
  loop: "{{ okd_nfs_exports_desired_exports | dict2items }}"
  notify: Reload NFS Exports

- name: Create groups for NFS shares
  ansible.builtin.group:
    name: "okd-nfs-{{ item.value.name }}"
    state: present
  loop: "{{ okd_nfs_exports_desired_exports | dict2items }}"
  register: okd_nfs_exports_groups

# Create a map of the following shape:
# "okd_nfs_exports_fs_groups_map": {
#     "lab-01": {
#         "gid": 1004,
#         "name": "okd-nfs-lab-01"
#     }
# }
- name: Set NFS FS group fact
  ansible.builtin.set_fact:
    okd_nfs_exports_fs_groups_map: >
      {{
        okd_nfs_exports_fs_groups |
        default({}) |
        combine({
          group_result[group_result.ansible_loop_var].value.name: ({
            'name': group_result.name,
            'gid': group_result.gid
          })
        })
      }}
  loop: "{{ okd_nfs_exports_groups.results }}"
  loop_control:
    loop_var: group_result
  register: okd_nfs_exports_fs_groups_map

- name: Set NFS Share ownerships for export
  ansible.builtin.file:
    path: "{{ item.value.mountpoint }}"
    owner: root
    group: "okd-nfs-{{ item.value.name }}"
    mode: "0o1777"
    state: directory
  loop: "{{ okd_nfs_exports_desired_exports | dict2items }}"
