[Unit]
Description=Unifi Network Controller Container
Requires=unifi-db-quadlet.service
After=unifi-db-quadlet.service

[Container]
ContainerName=unifi-network-app
Image=lscr.io/linuxserver/unifi-network-application:10.0.160
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Etc/UTC
Environment=MONGO_USER={{ unifi_network_mongo_unifi_user }}
Environment=MONGO_PASS={{ unifi_network_mongo_unifi_password | urlencode }}
Environment=MONGO_HOST=unifi-db
Environment=MONGO_PORT=27017
Environment=MONGO_DBNAME=unifi
Environment=MONGO_AUTHSOURCE=admin 
{% if unifi_network_cni_driver == 'macvlan'  %}
Network={{ podman_shared_network_name }}:ip={{ unifi_network_controller_ip }},mac={{ unifi_network_controller_mac }}
{% elif unifi_network_cni_driver == 'bridge' %}
Network={{ podman_shared_network_name }}
PublishPort=8443:8443
PublishPort=3478:3478/udp
PublishPort=10001:10001/udp
PublishPort=8080:8080
PublishPort=1900:1900/udp
PublishPort=8843:8843
PublishPort=8880:8880
PublishPort=6789:6789
PublishPort=5514:5514/udp
{% endif %}
Network=unifi-network-controller
Volume=unifi-network-app-config:/config

[Install]
WantedBy=multi-user.target
