---
- name: Create Podman Volume for HomeBridge Container
  containers.podman.podman_volume:
    name: homebridge-data
  become: true

- name: Make directory for HomeBridge Quadlet and Supporting Files
  ansible.builtin.file:
    name: "{{ homebridge_quadlet_directory }}"
    state: directory
    mode: "0o755"
    owner: "{{ ansible_user }}"
    group: root
  become: true

- name: Create quadlet for HomeBridge Service
  ansible.builtin.template:
    src: homebridge-quadlet.container.j2
    dest: /etc/containers/systemd/homebridge-quadlet.container
    mode: "0o644"
  become: true

- name: Restart HomeBridge service
  ansible.builtin.systemd_service:
    name: homebridge-quadlet
    daemon_reload: true
    enabled: true
    state: restarted
  become: true
