kind: OAuth
metadata:
  name: cluster
spec:
  identityProviders:
  - mappingMethod: claim
    name: entra
    openID:
      claims:
        email:
        - email
        name:
        - name
        preferredUsername:
        - email
      clientID: {{ okd_entra_id_client_id }}
      clientSecret:
        name: {{ okd_entra_secret_name }}
      extraScopes:
        - profile
        - email
      issuer: {{ okd_entra_id_issuer_url }}
    type: OpenID
