---
- name: Create Temp file for values file
  ansible.builtin.tempfile:
    state: file
    suffix: ".yaml"
  register: smallstep_ca_values_file

- name: Template Values file from template
  ansible.builtin.copy:
    content: "{{ lookup('template', 'values-inject-config.yaml.j2') }}"
    dest: "{{ smallstep_ca_values_file.path }}"
    mode: "0o600"
  vars:
    smallstep_ca_sans: "{{  smallstep_ca_additional_sans + [smallstep_ca_cn] }}"

- name: Create Role/Rolebinding for ServiceAccount
  kubernetes.core.k8s:
    state: present
    template: nonroot-v2-scc.yaml.j2

- name: Setup SmallStep Helm Repository
  kubernetes.core.helm_repository:
    name: smallstep
    repo_url: https://smallstep.github.io/helm-charts/
    force_update: true

- name: Install SmallStep CA Chart
  kubernetes.core.helm:
    name: dontxinkeship-ca
    chart_ref: smallstep/step-certificates
    values_files:
      - "{{ smallstep_ca_values_file.path }}"
    release_namespace: smallstep-ca
    create_namespace: true
    release_state: present
    wait: true
