---
- name: Get Root CA Certificate Info
  community.crypto.x509_certificate_info:
    content: "{{ smallstep_ca_root_ca_cert }}"
  register: smallstep_ca_root_ca_cert_info

- name: Set Root CA fingerprint
  ansible.builtin.set_fact:
    smallstep_ca_root_ca_fingerprint: "{{  smallstep_ca_root_ca_cert_info.fingerprints.sha256 | replace(':', '') }}"

- name: Create JWK Provisioner
  ansible.builtin.import_tasks:
    file: "create-provisioners.yaml"

- name: "Deploy smallstep-ca Helm Chart"
  ansible.builtin.import_tasks:
    file: "helm-install.yaml"

- name: Add SmallStep Root CA Certificate to Cluster Trust
  kubernetes.core.k8s:
    state: present
    template: cluster-trusted-ca.yaml.j2
    server_side_apply:
      field_manager: ansible
      force_conflicts: true
