---
- name: Create Internal Network for Unifi & Mongo Communication
  containers.podman.podman_network:
    name: unifi-network-controller
    internal: true
    subnet: 10.67.100.0/24
  become: true

- name: Create Podman Volume for UniFi Mongo Container
  containers.podman.podman_volume:
    name: unifi-mongo-data
  become: true

- name: Create Podman Volume for UniFi Network App Container
  containers.podman.podman_volume:
    name: unifi-network-app-config
  become: true

- name: Make directory for Unifi Quadlet and Supporting Files
  ansible.builtin.file:
    name: "{{ unifi_network_quadlet_directory }}"
    state: directory
    mode: "0o755"
    owner: "{{ ansible_user }}"
    group: root
  become: true

- name: Copy init-mongo.sh for Unifi Mongo
  ansible.builtin.copy:
    src: init-mongo.sh
    dest: "{{ unifi_network_quadlet_directory }}/init-mongo.sh"
    mode: "0o644"

- name: Create quadlet for UniFi DB Service
  ansible.builtin.template:
    src: unifi-db-quadlet.container.j2
    dest: /etc/containers/systemd/unifi-db-quadlet.container
    mode: "0o644"
  become: true

- name: Create quadlet for UniFi Network App Service
  ansible.builtin.template:
    src: unifi-network-app-quadlet.container.j2
    dest: /etc/containers/systemd/unifi-network-app-quadlet.container
    mode: "0o644"
  become: true

- name: Restart UniFi DB service
  ansible.builtin.systemd_service:
    name: unifi-db-quadlet
    daemon_reload: true
    enabled: true
    state: restarted
  become: true

- name: Restart UniFi Network App service
  ansible.builtin.systemd_service:
    name: unifi-network-app-quadlet
    daemon_reload: true
    enabled: true
    state: restarted
  become: true
